<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.jeonguk.web.mapper.OrderMapper">

    <select id="selectByUserId" parameterType="int" resultType="orderDto">
        SELECT *
        FROM t_order
        WHERE user_id = #{user_id}
    </select>

    <insert id="insertOrder">
        INSERT INTO t_order
        (user_id, status)
        VALUES
        (#{userId}, #{status})
    </insert>

</mapper>